

.nav-link-wrap{
    /* text-decoration: none; */
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.nav-link {
    text-decoration: underline 0.2px gray;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    color: black;
     -webkit-text-stroke: 0.5px white;
     font-weight: 700;
     font-size: 2.5rem;
}

@media (max-width:900px) {
    .header-cta {
        display: none;
    }
}