code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: inherit;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  /* padding: 1.5rem; */
  max-height: 100vh;

}

@font-face {
  font-family: "MiltonianTattoo-Regular";
  src: local("MiltonianTattoo-Regular"),
  url("../fonts/MiltonianTattoo-Regular.ttf")format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "ArchitectsDaughter-Regular";
  src: local("ArchitectsDaughter-Regular"),
  url("../fonts/ArchitectsDaughter-Regular.ttf")format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "CabinSketch-Regular";
  src: local("CabinSketch-Regular"),
    url("../fonts/CabinSketch-Regular.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "EagleLake-Regular";
  src: local("EagleLake-Regular"),
  url("../fonts/EagleLake-Regular.ttf")format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "LoveYaLikeASister";
  src: local("LoveYaLikeASister"),
  url("../fonts/LoveYaLikeASister.ttf")format("truetype");
  /* font-weight: normal; */
}

@font-face {
  font-family: "Flavors-Regular";
  src: local("Flavors-Regular"),
  url("../fonts/Flavors-Regular.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "FrederickatheGreat-Regular";
  src: local("FrederickatheGreat-Regular"),
  url("../fonts/FrederickatheGreat-Regular.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "FasterOne-Regular";
  src: local("FasterOne-Regular"),
  url("../fonts/FasterOne-Regular.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "Ribeye-Regular";
  src: local("Ribeye-Regular"),
  url("../fonts/Ribeye-Regular.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "SueEllenFrancisco";
  src: local("SueEllenFrancisco"),
  url("../fonts/SueEllenFrancisco.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "SueEllenFrancisco";
  src: local("SueEllenFrancisco"),
  url("../fonts/SueEllenFrancisco.ttf")format("truetype");
  /* font-weight: normal; */
}
@font-face {
  font-family: "Sunshiney";
  src: local("Sunshiney"),
  url("../fonts/Sunshiney.ttf")format("truetype");
  /* font-weight: normal; */
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2.1rem;
}

.nav-link {
  padding: 2.6rem;
  font-size: 2.1rem;
}


/* 
button {
  margin: 1.5rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 0.5rem;
}

button:hover {
  cursor: pointer;
}

input {
  padding: 0.5rem;
  margin: 1.5rem;
} */

/* 900px Universal MEDIA SPECS */
/*
@media (max-width:900px) {
  * {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  h5 {
    font-size: 2.1rem;
  }

  h6 {
    font-size: 1.8rem;
  }
}
*/

/* 600px Universal MEDIA SPECS */
/*
@media (max-width:600px) {
  * {
    font-size: 1.2rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.3rem;
  }
}
*/