button.project-btn {
    transform: rotate(270deg);
    font-size: 5.2rem;
    color: black;
    font-family: "CabinSketch-Regular";
    font-weight: 800;
        /* padding: 1rem 25rem; */
    max-width: 100vw;


   
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.project-cta {


}
