.skill-btn {
    transform: rotate(-270deg);
    font-size: 5.2rem;
    color: black;
    font-family: "CabinSketch-Regular";
    font-weight: 800;

}

button {
    padding: 1rem 40rem;
    cursor: pointer;
}

.skill-cta {
    display: flex;

}
