.social-links-wrap {
    display: flex;
    height: 45px;
    justify-content: center;
    align-items: center;

}

.nav-icon {
    height: 45px;
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
